.body{
    font-size: 30px;
}

.container{
    text-align: center;
}

.btnn {
    border: 5px solid #E0CF16;
    color: white;
    padding: 10px;
    background-color: black;
}

.btnn:hover {background-color: #D41A26}

.btnn:active {
  background-color: #D41A26;
  box-shadow: 0 6px #E0CF16;
  transform: translateY(5px);
}

.textinput{
    border: 5px solid #E0CF16;
    color: white;
}